/* navbar align center with set the width to ul */
.navbar-ul{
    width: 100%;
}

/* carousel items images custom heigt and width */
.carousel-item img{
    width: 100%;
    height: 100%;
}
.carousel-container{
    width: 900px;
}
.ready-join-container{
    width: 900px;
    height: 300px;
}
.ptext{
    font-size: small;
}
.trusted-companies img{
    width: 150px;
    height: 50px;
}

footer{
    background-color: #161616;
    height: 400px;
}
.flink{
    text-decoration: none;
}